body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    color: #00ffcc;
}

input {
    padding: 10px;
    margin: 10px;
    width: 80%;
    background: #222;
    color: white;
    border: 1px solid #00ffcc;
}

button {
    padding: 10px 15px;
    background-color: #00ffcc;
    color: black;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #00ffcc;
    text-decoration: none;
    font-size: 18px;
}
